<div class="welcome_card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title mdl-card--expand">
        <i class="material-icons">info</i>
        <h2 class="mdl-card__title-text">Welcome to the SimpleSearch Test Application</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <h6>Purpose:</h6>
        This will test your diving capabilities, as you are thrown in the deep-end here. Overall this is not a
        difficult test to complete, however, you will need your wits about you.

        <h6>What this will test for:</h6>
        <ul class="mdl-list">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  1) Aptitude, can you accomplish the task set forth using the Power of the Internet?
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  2) Precision, can you edit just what needs to be edited in order to accomplish your goals?
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  3) Attention, can you follow the guide laid forth but the architect?
                </span>
            </li>
        </ul>

        <p>
            Below you will find the card that needs your attention, good luck!
        </p>
    </div>
</div>