<div class="welcome_card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title mdl-card--expand">
        <i class="material-icons">info</i>
        <h2 class="mdl-card__title-text">Welcome to the SimpleSearch Test Application</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <img src="/assets/logo@2x_dark.png">
        <p>
            Congratulations! If you are reading this, then you successfully built the SimpleSearch Test Application. Do
            continue to follow steps provided in the readme.
        </p>
        <p>
            Below you will find the card that needs your attention, good luck!
        </p>
    </div>
</div>