@import "../../../../../styles/variables";
.mdl-card--expand {
  background-color: $color-primary;
  color: $font-color-light;

  i {
    margin-right: $card-title-icon-margin-right;
  }
}

img{
  height: 40px;
  display: block;
  margin: 20px;
}

